<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>recipeID</key>
		<integer>0</integer>
		<key>name</key>
		<string>돼지고기 숙주볶음</string>
		<key>time</key>
		<integer>5</integer>
		<key>cost</key>
		<integer>2000</integer>
		<key>drink</key>
		<string>0</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>숙주와 돼지고기의 운명적인 만남</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>1</integer>
		<key>name</key>
		<string>카프레제</string>
		<key>time</key>
		<integer>10</integer>
		<key>cost</key>
		<integer>10000</integer>
		<key>drink</key>
		<string>2</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>치즈와 토마토는 운명</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>2</integer>
		<key>name</key>
		<string>방울양배추 볶음</string>
		<key>time</key>
		<integer>20</integer>
		<key>cost</key>
		<integer>5000</integer>
		<key>drink</key>
		<string>1</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>간단한 고퀄 안주!</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>3</integer>
		<key>name</key>
		<string>포크 테린</string>
		<key>time</key>
		<integer>21</integer>
		<key>cost</key>
		<real>10001</real>
		<key>drink</key>
		<string>1</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>돼지고기와 야채를 한방에</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>4</integer>
		<key>name</key>
		<string>시금치 필로파이</string>
		<key>time</key>
		<integer>21</integer>
		<key>cost</key>
		<integer>10001</integer>
		<key>drink</key>
		<string>1</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>파이 좋아하세요?</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>5</integer>
		<key>name</key>
		<string>오이 오르되브르</string>
		<key>time</key>
		<integer>20</integer>
		<key>cost</key>
		<integer>5000</integer>
		<key>drink</key>
		<string>2</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>오이의 상큼함을 느껴보자!</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>6</integer>
		<key>name</key>
		<string>수박 오이샐러드</string>
		<key>time</key>
		<integer>21</integer>
		<key>cost</key>
		<real>10001</real>
		<key>drink</key>
		<string>2</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>여름밤, 상큼하게 소주 한잔!</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>7</integer>
		<key>name</key>
		<string>단호박 카프레제</string>
		<key>time</key>
		<integer>21</integer>
		<key>cost</key>
		<real>10001</real>
		<key>drink</key>
		<string>1</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>달콤한 단호박에 상큼한 치즈!</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>8</integer>
		<key>name</key>
		<string>의외로 맛있는 피망</string>
		<key>time</key>
		<integer>5</integer>
		<key>cost</key>
		<integer>5000</integer>
		<key>drink</key>
		<string>1</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>맥주와 피망의 의외의 만남</string>
	</dict>
	<dict>
		<key>recipeID</key>
		<integer>9</integer>
		<key>name</key>
		<string>견과류</string>
		<key>time</key>
		<integer>5</integer>
		<key>cost</key>
		<real>5000</real>
		<key>drink</key>
		<string>1</string>
		<key>drinkDict</key>
		<dict>
			<key>beer</key>
			<integer>1</integer>
			<key>soju</key>
			<integer>2</integer>
			<key>wine</key>
			<integer>0</integer>
			<key>whiskey</key>
			<integer>0</integer>
			<key>matkori</key>
			<integer>0</integer>
			<key>somac</key>
			<integer>2</integer>
			<key>cocktail</key>
			<integer>0</integer>
		</dict>
		<key>ingrediants</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>shortDescription</key>
		<string>Back To The BASIC</string>
	</dict>
</array>
</plist>
